body{
    background: linear-gradient(to bottom right, rgb(255, 255, 255), #eff0f0);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.ref{
    font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
      font-variation-settings: "slnt" 0;
}

.containerAnuncios{
    background-color: rgb(158, 156, 156);
    width: 400px;
    height: 250px;
}

.containerCategorias{
    background-color: transparent;
    width: auto;
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    margin-top: 50px;
    padding: auto;
}

.boxProduct{
    width: 180px;
    height: 180px;
    border-color: black;
    background: rgb(78, 78, 78);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 5px 5px;

}

.imgPr{
    width: auto;
    height: 50%;
    border-radius: 5px;

}

.namePr{
    color: white;
    font-size: small;
    margin: auto;
}

.pricePr{
    color: #ffd900;
    font-size: large;
    margin: auto;
}